* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
    color: rgba(255,255,255,0.9);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}



.main-container {
    display: flex;
}



aside {
    background-color: rgba(0,0,0,0.9);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

aside a {
    color: #b3b3b3;
}

aside a:hover {
    color: #FFF;
}

.logo img {
    width: 120px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.logo img.mini {
    width: 40px;
    display: none;
}

.nav-top li,
.nav-bottom li {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.nav-top ul:first-of-type {
    margin-bottom: 30px;
}

.nav-top ul:first-of-type li a {
    padding-left: 10px;
}

.nav-top ul:first-of-type li a:hover {
    border-left: 2px solid #28D25F;
}

.nav-bottom li:first-child {
    border-bottom: 1px solid #8A8776;
}


.playlists {
    background: -webkit-linear-gradient(top left, rgba(245,213,3,1) 0%, rgba(0,0,0,1) 91%);
    background: -o-linear-gradient(top left, rgba(245,213,3,1) 0%, rgba(0,0,0,1) 91%);
    background: linear-gradient(to bottom right, rgba(245,213,3,1) 0%, rgba(0,0,0,1) 91%);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.menu a {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
}

.menu a:last-child {
    display: none;
}

.menu a:hover {
    color: #FFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll {
    width: 80%;
    margin: auto;
    overflow: auto;
    height: calc(100vh - 180px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari and Opera  */
.scroll::-webkit-scrollbar {
    display: none;
}

.for-you, .recently-played {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.for-you img,
.recently-played img {
    width: 200px;
    border-radius: 50%;
    padding: 30px;
}

.negramaro {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.negramaro a:last-child {
    color: rgba(255,255,255,0.7);
    text-align: center;
}

footer {
    background-color: grey;
    height: 100px;
}

@media screen and (max-width: 375px){

    .logo img {
        display: none;
    }

    .logo img.mini {
        display: block;
        margin-right: 0;
    }

    nav a span,
    nav a p {
        display: none;
    }

    .menu a {
        display: none;
    }

    .menu a:last-child {
        display: block;
    }

    header {
        justify-content: flex-start;
    }

    .menu {
        padding-left: 20px;
    }
}


@media screen and (max-width: 768px) {
    .menu a {
        display: none;
    }

    .menu a:last-child {
        display: block;
    }

    header {
        justify-content: flex-start;
    }

    .menu {
        padding-left: 20px;
    }
}
